*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color:rgb(2, 23, 56);
  color: white;
  font-family: Arial,sans-serif;
  width: 100%;
  overflow-x: hidden;

}
header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 25px 0;
  background: #075b6e;
  margin: 0;
}
header nav ul li {
  margin: 0 15px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 19px;
  padding: 5px 10px;
  margin-left: 10px;
  border: 1px solid rgba(0,0,0,0);
}
header nav ul li a:hover{
  border: 1px solid white;
}

.lab{
  width: 100%;
  text-align: left;
  padding-right: 25px;
}    
.lab-heading{
  text-align: left;
  padding:0 22px 15px 22px ;
}
.lab-heading h1{
  font-size: 35px;
  font-weight: 700;
  font-family: 'Archivo Black', sans-serif;
  margin-top: 40px;
  margin-bottom: 10px;
  position: relative;
  left:22%;
}
.lab .lab-1{
  font-size: 22px;
  background-color:rgb(56, 48, 48);
  height: 12vh;
  margin-left: 13%;
  margin-right: 13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5%;
  padding-left: 1.5%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.lab .change{
  font-size: 25px;
  background: rgb(92,7,86);
  background: linear-gradient(90deg, rgba(92,7,86,1) 0%, rgba(121,9,81,1) 46%, rgb(128, 68, 88) 100%);
  height: 8vh;
  text-align: center;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5%;
  padding-left: 3.5%;
  margin-bottom: 10px;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  border-radius: 15px;
  height: 100px;
  max-width: 900px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.change p{
  text-align: center;
}
.change a{
  color: white;
  text-decoration: none;
  font-size: 27px;
  padding: 10px;
  border-radius: 5px;
}